
@model IEnumerable<studentregister>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Students List</h1>
<div class="container p-4">
    <div class="row p-3">
        <div class="col-6">
            <h2> Students </h2>
        </div>
        <div class="col-6">
            <a class=" btn btn-primary" asp-action="Add" asp-
               controller="AddStudentController1">Add Students</a>
        </div>
    </div>
</div>
<table class="table table-bordered table-striped" style="width:80%">
    <thead>
        <tr>
            <th>
                Student_Name
            </th>
            <th>
                Student_Email
            </th>
            <th>
                Student_Branch
            </th>
            <th>
                Student_Division
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                
                <td>@item.student_name</td>
                <td>@item.student_email </td>
                <td>@item.student_branch </td>
                <td>@item.student_division </td>

                <td role="group">
                    <a class="btn btn-primary" asp-controller="AddStudentController1" asp-action="Edit" asp-route-id="@item.student_id" style="width:40%; margin-right:15px; margin-left:15px">Edit</a>
                    <a class="btn btn-danger" asp-controller="AddStudentController1" asp-action="Delete" asp-route-id="@item.student_id" style="width:40%;">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>